@import "tailwindcss";

:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 0 0% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 0 0% 30%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
}

@theme {
    --color-neutral-2: #FDFDFD;
    --color-neutral-3: #F6F6F6;
    --color-neutral-4: #F1F1F1;
    --color-neutral-5: #DCDCDC;
    --color-neutral-6: #BFBFBF;
    --color-neutral-7: #888A8A;
    --color-neutral-8: #676869;
    --color-neutral-9: #575959;
    --color-neutral-10: #383A3B;
    --color-neutral-13: #151718;

    --color-blue-dark-black: #051119;
    --color-blue-dark: #091A24;
    --color-blue-base: #2474A5;
    --color-blue-lighter: #47C1EA;

    --color-light-blue-1: #ECF8FF;
    --color-light-blue-2: #C6E6F6;

    --color-red-6: #D3312C;
    --color-yellow: #ECDA19;
    --font-sans: 'GT Eesti Pro Display';
}

.input-custom {
    @apply border border-neutral-5 rounded-md h-10 w-full px-3 py-2 text-neutral-13 placeholder:text-neutral-7 outline-none;
}

.overlay-banner {
    background: linear-gradient(180deg, rgba(24, 33, 71, 0) 0%, rgba(24, 33, 71, 0.56) 100%);
}

.nav-transparent {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
}

.nav-shadow {
    box-shadow: 0px 8px 16px 0px #0000001A;
}

.overlay-card-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 100%);
}

.text-shadow-1 {
    text-shadow: 0px 0px 8px 0px #00000047;
}

.button-gradient-custom {
    background: linear-gradient(180deg, rgba(214, 245, 255, 0.16) 0%, rgba(9, 26, 36, 0.16) 100%);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    padding: 16px;
    color: white;
    @apply flex lg:items-center justify-between flex-col lg:flex-row gap-y-2 lg:gap-y-0 border border-neutral-8/40;
}


.nav-item {
    position: relative;
    padding-bottom: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-item.nav-blue-base::after {
    background-color: #2474A5 !important;
}

.nav-item.nav-blue-lighter::after {
    background-color: #47C1EA;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-item.active::after {
    width: 100%;
    left: 0;
}

.shadow-article {
    box-shadow: 0px 1px 2px 0px #0000001A;
}

.custom-pagination {
    justify-content: flex-start;
}

.custom-pagination .swiper-pagination-bullet {
    background-color: #BFBFBF;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    opacity: 100%;
}
.custom-pagination .swiper-pagination-bullet-active {
    background-color: #2474A5;
}
.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}


.custom-pagination-media {
    justify-content: flex-start;
}

.custom-pagination-media .swiper-pagination-bullet {
    background-color: #BFBFBF;
    border-radius: 12px;
    width: 100%;
    height: 5px;
    margin: 0 4px;
    opacity: 100%;
}
.custom-pagination-media .swiper-pagination-bullet-active {
    background-color: #2474A5;
}

.tab-gradient {
    height: 100%;
    position: relative;
}

.tab-gradient:hover, .tab-gradient.active {
    background: linear-gradient(360deg, rgba(71, 193, 234, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
}

.tab-gradient::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #47C1EA;
    transition: width 0.3s ease, left 0.3s ease;
}

.tab-gradient:hover::after, .tab-gradient.active::after {
    width: 100%;
    left: 0;
}


.content {
    @apply text-sm lg:text-base text-neutral-6 lg:leading-8;
}

.content ol, .content ul {
    @apply ms-[18px];
}

.content p {
    @apply mb-3;
}


.bg-gradient-dark-black {
    background: linear-gradient(180deg, #051119 0%, #091A24 100%);
}

.bg-gradient-blue {
    background: linear-gradient(180deg, #2474A5 0%, #206894 100%);
}

.table-explanation {
    @apply w-full overflow-x-auto;
}

.table-explanation table {
    @apply w-full;
}

.table-explanation td, .table-explanation th {
    @apply px-3 py-[10px] border border-neutral-6;
}

.table-explanation tbody td {
    @apply text-base text-neutral-10;
}

.table-explanation tbody td.group {
    @apply text-base text-neutral-13 italic font-bold;
}

.table-explanation thead tr {
    @apply bg-blue-base text-white;
}

.border-l-before::after, .border-l-before-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 0px;
    transition: width 0.2s ease, left 0.2s ease;
}

.border-l-before::after, .border-l-before-hover:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 6px;
    @apply lg:bg-blue-base;
}

@keyframes colorChange {
    0% {
        width: 0;
        left: 0;
        background-color: #BFBFBF;
    }
    20% {
        width: 100%;
        left: 0;
        background-color: #47C1EA;
    }
    50% {
        width: 100%;
        left: 0;
        background-color: #47C1EA;
    }
    80% {
        width: 100%;
        left: 100%;
        background-color: #BFBFBF;
    }
    100% {
        width: 0;
        left: 100%;
        background-color: #BFBFBF;
    }
}

.animate-colorChange {
    animation: colorChange 4s ease-in-out infinite;
}

