@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 0 0% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 0 0% 30%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
}

@theme {
    --color-neutral-2: #FDFDFD;
    --color-neutral-3: #F6F6F6;
    --color-neutral-4: #F1F1F1;
    --color-neutral-5: #DCDCDC;
    --color-neutral-6: #BFBFBF;
    --color-neutral-7: #888A8A;
    --color-neutral-8: #676869;
    --color-neutral-9: #575959;
    --color-neutral-10: #383A3B;
    --color-neutral-13: #151718;

    --color-blue-dark-black: #051119;
    --color-blue-dark: #091A24;
    --color-blue-base: #2474A5;
    --color-blue-light: #5CACC7;
    --color-blue-lighter: #47C1EA;

    --color-light-blue-1: #ECF8FF;
    --color-light-blue-2: #C6E6F6;

    --color-red-6: #D3312C;
    --color-yellow: #ECDA19;
    --color-gold-1: #f8f192c4;
    /* --font-sans: 'GT Eesti Pro Display'; */
    --font-sans: 'Plus Jakarta Sans';
}

.input-custom {
    @apply border border-neutral-5 rounded-md h-10 w-full px-3 py-2 text-neutral-13 placeholder:text-neutral-7 outline-none;
}

.overlay-banner {
    background: linear-gradient(180deg, rgba(24, 33, 71, 0) 0%, rgba(24, 33, 71, 0.56) 100%);
}

.nav-transparent {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
}

.nav-shadow {
    box-shadow: 0px 8px 16px 0px #0000001A;
}

.overlay-card-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 100%);
}

.overlay-card-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.64) 88%);
}

.text-shadow-1 {
    text-shadow: 0px 0px 8px 0px #00000047;
}

.text-shadow-2 {
    text-shadow: 0px 1px 2px 0px #0000001A;
}

.overlay-awards-banner {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(7,21,30,0.4458158263305322) 85%, rgba(7,22,31,0.8) 92%, rgba(9,26,36,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(7,21,30,0.4458158263305322) 85%, rgba(7,22,31,0.8) 92%, rgba(9,26,36,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(7,21,30,0.4458158263305322) 85%, rgba(7,22,31,0.8) 92%, rgba(9,26,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#091a24",GradientType=1);
}

.overlay-business-banner {
    background: linear-gradient(180deg, rgba(24, 33, 71, 0) 0%, rgba(24, 33, 71, 0.56) 100%);
}

.overlay-banner-2 {
    background: rgb(9,26,36);
    background: -moz-linear-gradient(180deg, rgba(9,26,36,0) 0%, rgba(9,26,36,0.5018382352941176) 70%, rgba(9,26,36,0.4962359943977591) 86%, rgba(9,26,36,1) 96%, rgba(9,26,36,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,26,36,0) 0%, rgba(9,26,36,0.5018382352941176) 70%, rgba(9,26,36,0.4962359943977591) 86%, rgba(9,26,36,1) 96%, rgba(9,26,36,1) 100%);
    background: linear-gradient(180deg, rgba(9,26,36,0) 0%, rgba(9,26,36,0.5018382352941176) 70%, rgba(9,26,36,0.4962359943977591) 86%, rgba(9,26,36,1) 96%, rgba(9,26,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091a24",endColorstr="#091a24",GradientType=1);
}


.overlay-business {
    background: rgb(9,26,36);
    background: -moz-linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.3029586834733894) 8%, rgba(9,26,36,0.15449929971988796) 25%, rgba(9,26,36,0) 75%, rgba(9,26,36,0.4) 82%, rgba(9,26,36,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.3029586834733894) 8%, rgba(9,26,36,0.15449929971988796) 25%, rgba(9,26,36,0) 75%, rgba(9,26,36,0.4) 82%, rgba(9,26,36,1) 100%);
    background: linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.3029586834733894) 8%, rgba(9,26,36,0.15449929971988796) 25%, rgba(9,26,36,0) 75%, rgba(9,26,36,0.4) 82%, rgba(9,26,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091a24",endColorstr="#091a24",GradientType=1);
}

.overlay-business-2 {
    background: rgb(9,26,36);
    background: -moz-linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.3029586834733894) 18%, rgba(9,26,36,0.15449929971988796) 25%, rgba(9,26,36,0) 75%, rgba(9,26,36,0.4) 82%, rgba(9,26,36,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.3029586834733894) 18%, rgba(9,26,36,0.15449929971988796) 25%, rgba(9,26,36,0) 75%, rgba(9,26,36,0.4) 82%, rgba(9,26,36,1) 100%);
    background: linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.3029586834733894) 18%, rgba(9,26,36,0.15449929971988796) 25%, rgba(9,26,36,0) 75%, rgba(9,26,36,0.4) 82%, rgba(9,26,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091a24",endColorstr="#091a24",GradientType=1);
}

.overlay-business-darkest {
    background: rgb(5, 17, 25);
    background: -moz-linear-gradient(180deg, rgba(5, 17, 25,1) 0%, rgba(5, 17, 25,0.3029586834733894) 8%, rgba(5, 17, 25,0.15449929971988796) 25%, rgba(5, 17, 25,0) 75%, rgba(5, 17, 25,0.4) 82%, rgba(5, 17, 25,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(5, 17, 25,1) 0%, rgba(5, 17, 25,0.3029586834733894) 8%, rgba(5, 17, 25,0.15449929971988796) 25%, rgba(5, 17, 25,0) 75%, rgba(5, 17, 25,0.4) 82%, rgba(5, 17, 25,1) 100%);
    background: linear-gradient(180deg, rgba(5, 17, 25,1) 0%, rgba(5, 17, 25,0.3029586834733894) 8%, rgba(5, 17, 25,0.15449929971988796) 25%, rgba(5, 17, 25,0) 75%, rgba(5, 17, 25,0.4) 82%, rgba(5, 17, 25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091a24",endColorstr="#091a24",GradientType=1);
}

.overlay-business-2-darkest {
    background: rgb(5, 17, 25);
    background: -moz-linear-gradient(180deg, rgba(5, 17, 25,1) 0%, rgba(5, 17, 25,0.3029586834733894) 18%, rgba(5, 17, 25,0.15449929971988796) 25%, rgba(5, 17, 25,0) 75%, rgba(5, 17, 25,0.4) 82%, rgba(5, 17, 25,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(5, 17, 25,1) 0%, rgba(5, 17, 25,0.3029586834733894) 18%, rgba(5, 17, 25,0.15449929971988796) 25%, rgba(5, 17, 25,0) 75%, rgba(5, 17, 25,0.4) 82%, rgba(5, 17, 25,1) 100%);
    background: linear-gradient(180deg, rgba(5, 17, 25,1) 0%, rgba(5, 17, 25,0.3029586834733894) 18%, rgba(5, 17, 25,0.15449929971988796) 25%, rgba(5, 17, 25,0) 75%, rgba(5, 17, 25,0.4) 82%, rgba(5, 17, 25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#051119",endColorstr="#051119",GradientType=1);
}

.overlay-card-sustainability {
    background: linear-gradient(180deg, rgba(15, 46, 66, 0.72) 0%, rgba(15, 46, 66, 0) 30%, rgba(15, 46, 66, 0) 55.5%, rgba(15, 46, 66, 0.72) 82.83%);
}

.button-gradient-custom {
    background: linear-gradient(180deg, rgba(214, 245, 255, 0.16) 0%, rgba(9, 26, 36, 0.16) 100%);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    padding: 16px;
    color: white;
    @apply flex lg:items-center justify-between flex-col lg:flex-row gap-y-2 lg:gap-y-0 border border-neutral-8/40;
}

.bg-gradient-1 {
    background: linear-gradient(180deg, rgba(214, 245, 255, 0.16) 0%, rgba(9, 26, 36, 0.16) 100%);
    @apply border border-neutral-8/40;
}

.tab-gradient-awards {
    @apply rounded-t-lg transition;
}

.tab-gradient-awards:hover, .tab-gradient-awards.active {
    @apply text-neutral-13 font-medium;
    background: linear-gradient(90deg, #B38D2C 0%, #F7EF8A 35%, #D1AB46 65%, #EAC666 100%);
}

.text-awards {
    background: linear-gradient(90deg, #B38D2C 0%, #F7EF8A 35%, #D1AB46 65%, #EAC666 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @apply text-2xl leading-6  lg:text-[52px] lg:leading-[60px] font-medium;
}

.text-gradient-gold {
    background: linear-gradient(90deg, #B38D2C 0%, #F7EF8A 35%, #D1AB46 65%, #EAC666 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-item {
    position: relative;
    padding-bottom: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-item.nav-blue-base::after {
    background-color: #2474A5 !important;
}

.nav-item.nav-blue-lighter::after {
    background-color: #47C1EA;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-item.active::after {
    width: 100%;
    left: 0;
}

.shadow-article {
    box-shadow: 0px 1px 2px 0px #0000001A;
}

.custom-pagination {
    justify-content: flex-start;
}

.custom-pagination .swiper-pagination-bullet {
    background-color: #BFBFBF;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    opacity: 100%;
}
.custom-pagination .swiper-pagination-bullet-active {
    background-color: #2474A5;
}
.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}


.custom-pagination-media {
    justify-content: flex-start;
}

.custom-pagination-media .swiper-pagination-bullet {
    background-color: #BFBFBF;
    border-radius: 12px;
    width: 100%;
    height: 5px;
    margin: 0 4px;
    opacity: 100%;
}
.custom-pagination-media .swiper-pagination-bullet-active {
    background-color: #2474A5;
}

.tab-gradient {
    height: 100%;
    position: relative;
}

.tab-gradient:hover, .tab-gradient.active {
    background: linear-gradient(360deg, rgba(71, 193, 234, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
}

.tab-gradient::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #47C1EA;
    transition: width 0.3s ease, left 0.3s ease;
}

.tab-gradient:hover::after, .tab-gradient.active::after {
    width: 100%;
    left: 0;
}


.content {
    @apply text-sm lg:text-base text-neutral-6 lg:leading-8 text-justify;
}

.content ol, .content ul {
    @apply ms-[18px];
}

.content ol:not([class*="list-"]),
.content ul:not([class*="list-"]) {
    @apply list-disc;
}

.content img {
    @apply w-full rounded-xl;
}

.content p {
    @apply mb-3;
}

.content:not(.primary) b,
.content:not(.primary) strong {
    @apply !text-white !font-medium;
}


.bg-gradient-dark-black {
    background: linear-gradient(180deg, #051119 0%, #091A24 100%);
}

.bg-gradient-blue {
    background: linear-gradient(180deg, #2474A5 0%, #206894 100%);
}

.table-main {
    @apply w-full overflow-x-auto;
}

.table-main table {
    @apply w-full;
}

.table-main td, .table-main th {
    @apply px-3 py-[10px] border border-neutral-6;
}

.table-main tbody td {
    @apply text-base text-neutral-10;
}

.table-main tbody td.group {
    @apply text-base text-neutral-13 italic font-bold;
}

.table-main thead tr {
    @apply bg-blue-base text-white;
}

.table-main thead td {
    @apply !font-medium;
}

.table-main tbody tr {
    @apply even:bg-neutral-8/4;
}

.border-l-before::after, .border-l-before-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 0px;
    transition: width 0.2s ease, left 0.2s ease;
}

.border-l-before::after, .border-l-before-hover:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 6px;
    @apply lg:bg-blue-base;
}

.overlay-history {
    background: rgb(9,26,36);
    background: -moz-linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.8) 10%, rgba(0,0,0,0.5) 50%, rgba(9,26,36,0.8) 90%, rgba(9,26,36,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.8) 10%, rgba(0,0,0,0.5) 50%, rgba(9,26,36,0.8) 90%, rgba(9,26,36,1) 100%);
    background: linear-gradient(180deg, rgba(9,26,36,1) 0%, rgba(9,26,36,0.8) 10%, rgba(0,0,0,0.5) 50%, rgba(9,26,36,0.8) 90%, rgba(9,26,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091a24",endColorstr="#091a24",GradientType=1);
    @apply absolute top-0 left-0 bottom-0 right-0;
}

.bg-gradient-fade {
    background: linear-gradient(180deg, #091A24 0%, #091A24 50%, rgba(9, 26, 36, 0) 100%);
}

.bg-journey-fade {
    background: linear-gradient(180deg, #00253B 0%, #0B5581 100%);
}


@keyframes colorChange {
    0% {
        width: 0;
        left: 0;
        background-color: #BFBFBF;
    }
    20% {
        width: 100%;
        left: 0;
        background-color: #47C1EA;
    }
    50% {
        width: 100%;
        left: 0;
        background-color: #47C1EA;
    }
    80% {
        width: 100%;
        left: 100%;
        background-color: #BFBFBF;
    }
    100% {
        width: 0;
        left: 100%;
        background-color: #BFBFBF;
    }
}

.animate-colorChange {
    animation: colorChange 4s ease-in-out infinite;
}



.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-right {
    text-align: right;
}

.ql-align-left {
    text-align: left;
}


.overflow-y-auto {
    overflow-y: auto;
    scroll-behavior: smooth;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(150, 150, 150, 0.3) transparent;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.2);
    border-radius: 6px;
    transition: background 0.3s ease;
}

.overflow-y-auto:hover::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.4);
}
